<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="n00bbook">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="JSON in Java.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/JSON in Java/JSON in Java">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="n00bbook"/>
        <property name="java-output-path" value="/n00bbook/build/classes"/>
    </wb-module>
</project-modules>
